---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/general.css";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import skilpadde1 from "../assets/images/skilpadde1.webp";
---

<MainLayout title="Plastic Change">
  <!-- <Image src={baggrund} alt="" /> -->
  <div
    class="flex items-center h-screen w-100 bg-cover bg-top sticky top-0"
    style="background-image: url('/src/assets/images/baggrund.webp')"
  >
    <h1>Plastik Change</h1>
  </div>

  <div
    class="flex flex-col items-center h-full w-100 bg-cover bg-top sticky top-0"
    style="background-image: url('/src/assets/images/mellemgrund2.webp')"
  >
    <!-- Hero unit -->
    <section class="h-screen w-100">
      <h1>137.000.000,32</h1>
      <h2>tons plastik</h2>
      <p>findes i øjeblikket i verdenshavene. Hvert sekund tilføjes yderligere 320 kg fra både landsbaserede kilder og aktiviteter til havs. Dette udgør en </p>
    </section>

    <!-- Plastikforurening? -->
    <section class="h-screen w-100"></section>

    <!-- Problemet -->
    <section class="h-screen w-100"></section>

    <!-- Gør en forskel -->
    <section class="h-screen w-100"></section>

    <!-- Vores indsats -->
    <section class="h-screen w-100"></section>

    <!-- Merchandise -->
    <section class="h-screen w-100"></section>
  </div>
</MainLayout>
