---
import "../styles/general.css";
---

<section class="whitespace-nowrap overflow-x-hidden bg-[#c4ddf2] py-4">
  <div
    class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6"
  >
    <span>#SingleUseSucks</span>
    <span>Bliv en del af løsningen</span>
    <span>Støt nu</span>
    <span>Høje lyde</span>
    <span>Undgå engangsplast</span>
    <span>Pas på vores have</span>
    <span>Interaktioner</span>
  </div>
  <div
    class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6"
    aria-hidden="true"
  >
    <span>#SingleUseSucks</span>
    <span>Bliv en del af løsningen</span>
    <span>Støt nu</span>
    <span>Høje lyde</span>
    <span>Undgå engangsplast</span>
    <span>Pas på vores have</span>
    <span>Interaktioner</span>
  </div>
</section>
