---
import "../styles/general.css";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import logo from "../assets/images/logo.svg";
---

<div
  x-data="{ showmenu: false }"
  class="p-4 fixed lg:static top-0 w-full bg-transparent z-50"
>
  <div id="navbar" class="flex flex-row justify-between">
    <!-- Logo -->
    <div id="logo">
      <a href="#hero"><Image src={logo} alt="Plastic Change logo" /></a>
    </div>

    <!-- Desktop menu -->
    <nav id="desktopmenu" class="hidden lg:block">
      <ul class="flex flex-row gap-4">
        <li><Link href="#">Plastikforurening?</Link></li>
        <li><Link href="#">Problemet</Link></li>
        <li><Link href="#">Gør en forskel</Link></li>
        <li><Link href="#">Vores indsats</Link></li>
        <li><Link href="#">Merchandise</Link></li>
      </ul>
    </nav>

    <!-- Burger menu -->
    <button
      id="burgermenu"
      class="lg:hidden"
      x-on:click="showmenu = ! showmenu"
    >
      <!-- Burger icon -->
      <svg
        x-show="!showmenu"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>

      <!-- Cross icon -->
      <svg
        x-show="showmenu"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </div>

  <!-- Mobil menu -->
  <nav
    id="mobilmenu"
    class="flex flex-col content-center pt-4 bg-[#f5f6f8] h-screen w-100 mt-"
    x-show="showmenu"
    x-transition
    x-on:click="showmenu = false"
    x-on:click.outside="showmenu = false"
  >
    <ul>
      <li class="text-center py-2 border-y-2">
        <Link href="#">Plastikforurening?</Link>
      </li>
      <li class="text-center py-2 border-b-2">
        <Link href="#">Problemet</Link>
      </li>
      <li class="text-center py-2 border-b-2">
        <Link href="#">Gør en forskel</Link>
      </li>
      <li class="text-center py-2 border-b-2">
        <Link href="#">Vores indsats</Link>
      </li>
      <li class="text-center py-2 border-b-2">
        <Link href="#">Merchandise</Link>
      </li>
    </ul>
  </nav>
</div>

<style>
  .button:hover .icon {
    fill: #ff1052;
  }
</style>
