---
import "../styles/general.css";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import logo from "../assets/images/logo.svg";
---

<div
  class="flex items-center h-fit w-full bg-cover bg-top absolute top-0"
  style="background-image: url('/src/assets/images/baggrund.webp')"
>
  <div
    x-data="{ showmenu: false }"
    class="static top-0 w-full bg-transparent z-50"
  >
    <div id="navbar" class="flex flex-row justify-between p-6 items-center">
      <!-- Logo -->
      <div id="logo">
        <a href="#hero"><Image src={logo} alt="Plastic Change logo" /></a>
      </div>

      <div class="flex flex-row items-center gap-10">
        <!-- Desktop menu -->
        <nav id="desktopmenu" class="hidden xl:block">
          <ul class="flex flex-row gap-6">
            <li><Link href="#plastikforurening">Plastikforurening?</Link></li>
            <li><Link href="#problemet">Problemet</Link></li>
            <li><Link href="#gør_en_forskel">Gør en forskel</Link></li>
            <li><Link href="#vores_indsats">Vores indsats</Link></li>
            <li><Link href="#merchandise">Merchandise</Link></li>
          </ul>
        </nav>

        <!-- Støt knap -->
        <div class="button flex items-center relative desktop_btn">
          <div class="absolute left-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              stroke-width="0"
              stroke="currentColor"
              fill="#f5f6f8"
              class="size-5 icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
              ></path>
            </svg>
          </div>
          <Button variant="secondary" size="large" href="#donér">Støt</Button>
        </div>
      </div>

      <!-- Burger menu -->
      <button
        id="burgermenu"
        class="xl:hidden z-50"
        x-on:click="showmenu = ! showmenu"
      >
        <!-- Burger icon -->
        <svg
          x-show="!showmenu"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#024058"
          class="size-10"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>

        <!-- Cross icon -->
        <svg
          x-show="showmenu"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#024058"
          class="size-10"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>

    <!-- Mobil menu -->
    <nav
      id="mobilmenu"
      class="flex flex-col gap-6 bg-[#f5f6f8] h-screen w-full pl-14 pt-24 absolute top-0 z-10"
      x-show="showmenu"
      x-transition
      x-on:click="showmenu = false"
      x-on:click.outside="showmenu = false"
    >
      <ul>
        <li class="py-3">
          <Link href="#plastikforurening" size="small">Plastikforurening?</Link>
        </li>
        <li class="py-3">
          <Link href="#problemet" size="small">Problemet</Link>
        </li>
        <li class="py-3">
          <Link href="#gør_en_forskel" size="small">Gør en forskel</Link>
        </li>
        <li class="py-3">
          <Link href="#vores_indsats" size="small">Vores indsats</Link>
        </li>
        <li class="py-3">
          <Link href="#merchandise" size="small">Merchandise</Link>
        </li>
      </ul>
      <div class="button flex items-center relative">
        <div class="absolute left-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke-width="0"
            stroke="currentColor"
            fill="#f5f6f8"
            class="size-4 icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
            ></path>
          </svg>
        </div>
        <Button variant="secondary" size="small" href="#donér">Støt</Button>
      </div>
    </nav>
  </div>
</div>

<style>
  .button:hover .icon {
    fill: #ff1052;
  }

  .desktop_btn {
    display: flex;
  }

  /* Mobil version */
  @media screen and (max-width: 1200px) {
    .desktop_btn {
      display: none;
    }
  }
</style>
